<!doctype html>
<html>
  <body>
    <div class=page>
      <h1>Depth upsampler</h1>
        <form action="" method=post enctype=multipart/form-data>
          <p><input type=file name=csv_file>
             <input type=submit value=Upload>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    {% if bokeh_script %}
        <div class="bk-root">
          {{ bokeh_script | safe }}
        </div>
    {% endif %}
  </body>
</html>